.container {
    margin-top: 50px;
}

#sensorDevice {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 10%;
}

#buttons {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 15%;
}

#actuatorDevice {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 10%;
}

.imagebox {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: #761c19;
}